@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.navbar h1 {
  margin-left: -25px;
}

.navbar .navbar-button {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 380px){
  .navbar .navbar-button {
    justify-content: flex-end;
    margin-right: 10px;
  }

  .navbar .navbar-button a:first-child {
    border: 1px solid #f1356d;
    border-radius: 8px 8px 0 0;
    width: 68px;
    text-align: center;
 }

 .navbar .navbar-button a:last-child {
   border-radius: 0 0 8px 8px !important;
 }
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-detail button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
}

/* blog preview /list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-content h2 {
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-content p {
  margin-bottom: 10px;
}

.blog-content div {
  font-size: 20px;
}

/* .blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
} */

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: center;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* 404 error page */
.nf-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.nf-wrapper .nf-title-message {
  display: flex;
  align-items: center;
}

.nf-wrapper .nf-title {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f1356d;
  padding-bottom: 5px;
  text-align: center;
}

.nf-wrapper .nf-title .nf-number {
  color: #f1356d;
  font-size: 10em;
}

.nf-number, .nf-subtitle {
  font-weight: 500;
}

.nf-subtitle {
  margin-top: -35px;
}

.nf-wrapper .nf-title .nf-subtitle {
  font-size: 3em;
  color: #f1356d;
}

.nf-wrapper .nf-message {
  font-size: 2em;
  padding-left: 50px;
}

.nf-wrapper .nf-homepage {
  text-align: center;
  color: #f1356d;
  font-size: 1.3em;
  margin-top: 100px;
}

.nf-wrapper .nf-homepage a {
  color: #f1356d;
}

@media (max-width: 550px){
  .nf-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .nf-wrapper .nf-title-message {
    flex-direction: column;
  }

  .nf-wrapper .nf-title {
    margin-bottom: 15px;
    width: 100%;
  }

  .nf-wrapper .nf-message {
    width: 100%;
    padding-left: 0;
    word-spacing: 2px;
  }
}