@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.navbar h1 {
  margin-left: -25px;
}

.navbar .navbar-button {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 380px){
  .navbar .navbar-button {
    justify-content: flex-end;
    margin-right: 10px;
  }

  .navbar .navbar-button a:first-child {
    border: 1px solid #f1356d;
    border-radius: 8px 8px 0 0;
    width: 68px;
    text-align: center;
 }

 .navbar .navbar-button a:last-child {
   border-radius: 0 0 8px 8px !important;
 }
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog preview /list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-content h2 {
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-content p {
  margin-bottom: 10px;
}

.blog-content div {
  font-size: 20px;
}

/* .blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
} */